

/* body {
    border-left: 5px solid lightgrey;
    min-height: 100%vh;
    font-family: sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

header, main, footer {
    padding: 1rem 2rem 1rem 2rem;
} */

/* h1 {
    color: tomato;
    font-size: 4rem;
} */

img {
    width: 100%;
}
ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;   
}
a {
    text-decoration: none;
}

nav a > li, .date {
    color: lightgray;
    font-size: 1.75rem;
}

/* main article */
.blogTitle {
    font-size: 3rem;
}

.blogContent {
    margin: 0 0 4rem 0;
    padding: 0 0 2rem 0;
    line-height: 2rem;
    border-bottom: 1px solid lightgray;
}

article >p::first-letter {
    color: lightgray;
    font-size: 5rem;
    initial-letter: 3;
    padding-right: 5px;
}

.continues{
    font-size: 2rem;
    padding: 0 0 0 80%;
    color:tomato
}
footer a> li {
    color: tomato;
    font-size: 1.5rem;
}
.copyright {
    color: lightgray;
}